<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="41fd7b71-ad2f-424b-9b04-ae39964c23ee" wadlVersion="http://wadl.dev.java.net/2009/02" name="SmartBear Library" type="rest" basePath="/personalAPIs/TestLibrary/1.0" definitionUrl="https://api.swaggerhub.com/apis/nathan.wright/NathansLibrary/0.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>get books, authors, subjects</con:description><con:settings><con:setting id="41fd7b71-ad2f-424b-9b04-ae39964c23eefileName">SmartBear-Library</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://localhost:8065/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>