<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="41fd7b71-ad2f-424b-9b04-ae39964c23ee" wadlVersion="http://wadl.dev.java.net/2009/02" name="SmartBear Library" type="rest" basePath="/personalAPIs/TestLibrary/1.0" definitionUrl="https://api.swaggerhub.com/apis/nathan.wright/NathansLibrary/0.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>get books, authors, subjects</con:description><con:settings><con:setting id="41fd7b71-ad2f-424b-9b04-ae39964c23eefileName">SmartBear-Library</con:setting></con:settings><con:definitionCache type="TEXT" rootPart="SmartBear Library.wadl"><con:part><con:url>SmartBear Library.wadl</con:url><con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="SmartBear Library">get books, authors, subjects</doc>
  <resources base="http://localhost:8065//personalAPIs/TestLibrary/1.0">
    <resource path="books" id="/books">
      <doc xml:lang="en" title="/books"/>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET">Returns array based on book search params.
searches books</doc>
        <request>
          <param name="title" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="title Parameter">title search parameter</doc>
          </param>
          <param name="author" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="author Parameter">author search parameter</doc>
          </param>
          <param name="subject" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="subject Parameter">subject search parameter</doc>
          </param>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="POST" id="POST">
        <doc xml:lang="en" title="POST">Creates a new book in the DB, on success returns book json object
create new book resource</doc>
        <request/>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="books/{id}" id="/books/{id}">
      <doc xml:lang="en" title="/books/{id}"/>
      <param name="id" type="xs:string" required="true" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <doc xml:lang="en" title="id Parameter">book id</doc>
      </param>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET">Returns array based of search params.
returns book object</doc>
        <request>
          <param default="" name="id" type="xs:string" required="true" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="id Parameter">book id</doc>
          </param>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="DELETE" id="DELETE">
        <doc xml:lang="en" title="DELETE">Returns deleted object
remove book resource</doc>
        <request>
          <param default="" name="id" type="xs:string" required="true" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="id Parameter">book id</doc>
          </param>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="authors" id="/authors">
      <doc xml:lang="en" title="/authors"/>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET">Returns array based on author search params.
searches authors</doc>
        <request>
          <param name="first_name" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="first_name Parameter">first name search parameter</doc>
          </param>
          <param name="last_name" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="last_name Parameter">last name search parameter</doc>
          </param>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="PUT" id="PUT">
        <doc xml:lang="en" title="PUT">Returns deleted object
remove book resource</doc>
        <request/>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="DELETE" id="DELETE">
        <doc xml:lang="en" title="DELETE">Returns deleted object
remove book resource</doc>
        <request/>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>]]></con:content><con:type>http://wadl.dev.java.net/2009/02</con:type></con:part></con:definitionCache><con:endpoints><con:endpoint>http://localhost:8065/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>