<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b965a867-17e8-48f7-8ff8-c46f44d3fa9c" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b965a867-17e8-48f7-8ff8-c46f44d3fa9cfileName">TestSuite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>